@import 'bootstrap-sprockets';
@import 'bootstrap';

.form_center {
  margin: 0 400px 0 400px;
  input, textarea, select {
  border: 1px solid #bbb;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }
  input {
    height: auto !important;
  }
  #error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }
  .field_with_errors {
    @extend .has-error;
    .form-control {
      color: $state-danger-text;
    }
  }
}

.form_align {
  margin: auto;
  width: 10%;
  border: 1px solid #73AD21;
  padding: 1px;
}
.form_align:hover {
  color: #D8BFD8;
  text-decoration: none;
}
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
